$background-color-accent: #FCDD09;

$text-color: #000;
$header-height-desktop: 88px;
$header-padding-desktop: 0 48px;

$button-color: #FFF;
$button-color-highlighted: #F0F0F0;
$button-text-color-hovered: #3E7EDB;
$button-size-desktop: 40px;
$button-size-mobile: 36px;
$button-padding-desktop: 12px;
$button-padding-mobile: 8px;

.header {
    height: $header-height-desktop;
    width: 100%;
    display: flex;
    position: absolute;
    align-items: center;
    padding: $header-padding-desktop;
    transition: background-color .2s linear;


    // Состояние шапки до прокручивания
    &.static {
        .header-logo-container {
            width: 136px;
            height: 32px;
        }

        .header-logo {
            &--scrolled {
                opacity: 0;
                width: 0;
            }

            &--static {
                opacity: 1;
                width: 136px;
                height: 32px;
            }
        }
    }

    // Состояние шапки после прокручивания
    &.scrolled {
        .header-logo-container {
            width: 40px;
            height: 34px;
        }

        .header-logo {
            &--scrolled {
                opacity: 1;
                width: 40px;
                height: 34px;
            }

            &--static {
                opacity: 0;
                width: 0;
            }
        }
    }

    // Состояние шапки при наведении или прокручивании
    &:hover,
    &.scrolled {
        background-color: #FFF;
        position: fixed;

        .header-button__link,
        .header-city {
            background-color: $button-color-highlighted;
        }
    }

    .header-content {
        display: flex;
        height: 100%;
        margin: 0 auto;
        max-width: 1270px;
        flex: 1;
        align-items: center;
        justify-content: space-between;
    }

    .header-logo-container {
        margin-right: 24px;
        position: relative;
    }

    .header-logo {
        position: absolute;
        transition: all .3s ease-in-out;
        width: 100%;
    }

    .header-city {
        padding: 10px 14px 9px;
        background-color: $button-color;
        border-radius: 9999px;
        font-size: 14px;
        line-height: 0.95;
        cursor: pointer;
        margin-right: auto;
        transition: color .1s ease-in;

        &:hover {
            color: $button-text-color-hovered;
        }
    }

    .header-nav {
        height: 100%;
        margin: 0 auto;

        &__list {
            height: 100%;
            display: flex;
        }

        &__list-item {
            display: flex;
            height: 100%;
            align-items: center;
        }
    }

    .header-menu {
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        padding: 20px 40px 33px;
        background-color: #FFF;
        visibility: hidden;

        opacity: 0;
        z-index: -1;
        display: none;
        perspective: 1000px;
        animation: growDown .3s ease-in-out forwards;
        transform-origin: top center;
        transition-property: all;

        @keyframes growDown {
            0% {
                transform: scaleY(0);
            }
            100% {
                transform: scaleY(1);
            }
        }

        &--catalogue {
            .categories-nav {
                margin-left: 332px;
            }
        }

        &--service {
            .categories-nav {
                margin-left: 432px;
            }
        }

        &__content {
            max-width: 1270px;
            margin: 0 auto;
        }
    }

    .categories-nav {
        display: flex;
        visibility: hidden;
        opacity: 0;

        &__column {
            flex: 0 1;
        }
    }

    .categories-nav-section {
        display: flex;
        flex-direction: column;
        margin-right: 72px;

        &__main-category {
            margin-bottom: 20px;
            color: $text-color;
            font: 20px/1.2 'Neue Machina';

            span {
                padding-right: 12px;
                display: inline-block;

                &::after {
                    display: inline-block;
                    content: "";
                    width: 16px;
                    height: 10px;
                    margin-right: -16px;
                    background-image: url(../images/arrow-icon.png);
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: right;
                }
            }
        }

        &__subcategory {
            font: 14px/2 'Roboto Mono';
            color: $text-color;
            opacity: .6;
            white-space: nowrap;
        }
    }

    .header-buttons-group {
        display: flex;
        margin-left: auto;

        &__item {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
        }
    }

    .header-button {
        color: $text-color;
        position: relative;

        &--phone {
            &:hover {
                .icon--phone {
                    path {
                        stroke: $button-text-color-hovered;
                    }
                }
            }
        }

        .icon {
            &--phone {
                width: 22px;
                height: 22px;
                fill :none;

                path {
                    stroke: #000;
                    transition: all .1s ease-in;
                }
            }

            &--user {
                width: 24px;
                height: 24px;
                fill :none;

                path {
                    fill: #000;
                    transition: all .1s ease-in;
                }
            }

            &--cart {
                width: 20px;
                height: 24px;
                fill :none;

                path {
                    fill: #000;
                    transition: all .1s ease-in;
                }
            }

            &--menu {
                width: 16px;
                height: 8px;
                fill :none;

                path {
                    stroke: #000;
                    transition: all .1s ease-in;
                }
            }
        }

        &--phone {
            position: relative;

            &:hover {
                .header-contacts-wrapper {
                    display: block;
                }
            }
        }

        &__link {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            background-color: $button-color;
            transition: background-color .2s linear;

            &:hover {
                .icon {
                    &--phone,
                    &--menu {
                        path {
                            stroke: $button-text-color-hovered;
                        }
                    }

                    &--user,
                    &--cart {
                        path {
                            fill: $button-text-color-hovered;
                        }
                    }
                }
            }
        }
    }

    .button-info-desktop {
        display: flex;
        margin-left: 8px;
        flex-flow: column;
        font-size: 14px;

        &__secondary {
            opacity: 0.4;
        }
    }

    .button-info-mobile {
        width: 20px;
        height: 20px;
        display: flex;
        position: absolute;
        right: -7px;
        bottom: -2px;
        align-items: center;
        justify-content: center;
        font-size: 12px;
        line-height: 0;
        background-color: $background-color-accent;
        border-radius: 50%;

        &__main {
            margin-left: -2px;
        }
    }

    .header-contacts-wrapper {
        display: none;
        position: absolute;
        top: 100%;
    }

    .header-contacts {
        border: 1px solid #F0F0F0;
        border-radius: 8px;
        background-color: #FFF;
        position: relative;

        &::before,
        &::after {
            display: block;
            position: absolute;
            content: "";
            width: 0;
            height: 0;
            border-style: solid;
            left: 50%;
            transform: translateX(-50%);
        }

        &::before {
            border-width: 0 13px 15px 13px;
            border-color: transparent transparent #F0F0F0 transparent;
            bottom: 100%;
        }

        &::after {
            border-width: 0 12px 14px 12px;
            border-color: transparent transparent #FFF transparent;
            bottom: calc(100% - 1px);
        }

        &__title {
            display: block;
            color: $text-color;
            font-family: 'Roboto Mono', monospace;
            opacity: .6;
        }

        &__number {
            color: $text-color;
            font-family: 'Whyte Inktrap';
        }

        &__button {
            display: flex;
            height: 48px;
            margin-top: 6px;
            justify-content: center;
            align-items: center;
            color: $text-color;
            background-color: rgb(253,221,9);
            border-radius: 8px;
            cursor: pointer;

            &:hover {
                background-color: rgba(253,221,9, .8);
            }
        }
    }

    .nav-item {
        &--has-menu {
            &:hover {
                .nav-item__title {
                    &::after {
                        width: 2px;
                    }
                }
            }

            .nav-item__title {
                &::after {
                    display: block;
                    width: 10px;
                    height: 2px;
                    content: '';
                    position: absolute;
                    left: calc(100% + 8px);
                    bottom: 6px;
                    background-image: linear-gradient(90deg, $text-color, $text-color 50%, transparent 50%, transparent 100%);
                    background-size: 4px 4px;
                    border: none;
                    transition: width .2s ease;
                    -webkit-transition: width .2s ease;
                }
            }
        }

        &:hover {
            .nav-item__title {
                &::before {
                    width: 100%;
                    left: 0;
                    background: $text-color;
                }
            }

            .header-menu {
                display: block;
                visibility: visible;
                opacity: 1;
            }

            .categories-nav {
                visibility: visible;
                opacity: 1;
                animation: showsUp .5s ease-out backwards .25s;
                transform-origin: left center;
                transition-property: opacity;

                @keyframes showsUp {
                    0% {
                        opacity: 0;
                    }
                    100% {
                        opacity: 1;
                    }
                }
            }
        }

        &__header {
            padding: 0 20px;
            cursor: pointer;
        }

        &__title {
            position: relative;

            &::before{
                display: block;
                width: 0;
                height: 1px;
                content: '';
                position: absolute;
                right: 0;
                bottom: -12px;
                background: $text-color;
                transition: width .2s ease;
                -webkit-transition: width .2s ease;
            }
        }
    }
}

@media (max-width: 767px) {
    .header {
        .header-city {
            display: none;
        }

        .header-buttons-group {
            &__item {
                &:not(:first-child) {
                    margin-left: $button-padding-mobile;
                }
            }
        }

        .header-button {
            .icon {
                &--phone {
                    width: 18px;
                    height: 18px;
                }

                &--cart {
                    width: 16px;
                    height: 20px;
                }

                &--menu {
                    width: 14px;
                    height: 6px;
                }
            }

            &__link {
                width: $button-size-mobile;
                height: $button-size-mobile;
            }
        }

        .header-contacts-wrapper {
            padding-top: 18px;
        }

        .header-contacts {
            width: 212px;
            padding: 24px 20px 20px;
            text-align: center;

            &__row {
                margin-bottom: 16px;
            }

            &__title {
                font-size: 12px;
                line-height: 1.6;
                margin-bottom: 8px;
            }

            &__number {
                font-size: 20px;
                line-height: .95;
            }

            &__button {
                font-size: 13px;
            }
        }
    }
}

@media (max-width: 1365px) {
    .header {
        .header-nav {
            display: none;
        }

        .button-info-desktop {
            display: none;
        }

        .header-button {
            &--user {
                display: none;
            }
        }
    }
}

@media (min-width: 768px) {
    .header {
        .header-buttons-group {
            &__item {
                &:not(:first-child) {
                    margin-left: $button-padding-desktop;
                }
            }
        }

        .header-button {
            &__link {
                width: $button-size-desktop;
                height: $button-size-desktop;
            }
        }

        .header-contacts-wrapper {
            padding-top: 30px;
        }

        .header-contacts {
            width: 234px;
            padding: 30px 16px 16px;

            &__row {
                margin: 0 4px 12px;
            }

            &__title {
                font-size: 14px;
                line-height: 1.6;
            }

            &__number {
                font-size: 20px;
                line-height: 1.6;
            }

            &__button {
                font-size: 16px;
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 1365px) {
    .header {}
}

@media (min-width: 1366px) {
    .header {
        .button-info-mobile {
            display: none;
        }

        .header-button {
            &--menu {
                display: none;
            }
        }
    }
}