html {
    box-sizing: border-box;
}

body {
    position: relative;
    height: 2000px;
    background: darkolivegreen;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}