@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
@font-face {
  font-family: 'Neue Machina Light';
  src: url("../fonts/NeueMachina/NeueMachina-Light.woff2") format("woff2"), url("../fonts/NeueMachina/NeueMachina-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Neue Machina';
  src: url("../fonts/NeueMachina/NeueMachina-Regular.woff2") format("woff2"), url("../fonts/NeueMachina/NeueMachina-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Neue Machina Bold';
  src: url("../fonts/NeueMachina/NeueMachina-Ultrabold.woff2") format("woff2"), url("../fonts/NeueMachina/NeueMachina-Ultrabold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Whyte Inktrap';
  src: url("../fonts/WhyteInktrap/WhyteInktrap-Medium.woff2") format("woff2"), url("../fonts/WhyteInktrap/WhyteInktrap-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  position: relative;
  height: 2500px;
  background: #3e7edb;
  background: -webkit-gradient(linear, left top, left bottom, from(#3e7edb), color-stop(33%, #3e7edb), color-stop(33%, #4a9354), color-stop(66%, #4a9354), color-stop(66%, #fce563), to(#fce563));
  background: linear-gradient(180deg, #3e7edb 0%, #3e7edb 33%, #4a9354 33%, #4a9354 66%, #fce563 66%, #fce563 100%);
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: background-color .2s linear;
  transition: background-color .2s linear;
}

.header:hover, .header.scrolled {
  background-color: #FFF;
  position: fixed;
}

.header:hover .header-button__link,
.header:hover .header-city, .header.scrolled .header-button__link,
.header.scrolled .header-city {
  background-color: #F0F0F0;
}

.header .header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  margin: 0 auto;
  max-width: 1270px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .header-logo-container {
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.header .header-logo {
  position: absolute;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  width: 100%;
}

.header .header-city {
  padding: 10px 14px 9px;
  background-color: #FFF;
  border-radius: 9999px;
  font-size: 14px;
  line-height: 0.95;
  cursor: pointer;
  margin-right: auto;
  -webkit-transition: color .1s ease-in;
  transition: color .1s ease-in;
}

.header .header-city:hover {
  color: #3E7EDB;
}

.header .header-nav {
  height: 100%;
  margin: 0 auto;
}

.header .header-nav__list {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .header-nav__list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header-menu {
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  padding: 20px 40px 33px;
  background-color: #FFF;
  visibility: hidden;
  opacity: 0;
  z-index: -1;
  display: none;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  -webkit-animation: growDown .3s ease-in-out forwards;
          animation: growDown .3s ease-in-out forwards;
  -webkit-transform-origin: top center;
          transform-origin: top center;
  -webkit-transition-property: all;
  transition-property: all;
}

@-webkit-keyframes growDown {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

@keyframes growDown {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

.header .header-menu--catalogue .categories-nav {
  margin-left: 332px;
}

.header .header-menu--service .categories-nav {
  margin-left: 432px;
}

.header .header-menu__content {
  max-width: 1270px;
  margin: 0 auto;
}

.header .categories-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  visibility: hidden;
  opacity: 0;
}

.header .categories-nav__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1;
          flex: 0 1;
}

.header .categories-nav-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 72px;
}

.header .categories-nav-section__main-category {
  margin-bottom: 20px;
  color: #000;
  font: 20px/1.2 'Neue Machina';
}

.header .categories-nav-section__main-category span {
  padding-right: 12px;
  display: inline-block;
}

.header .categories-nav-section__main-category span::after {
  display: inline-block;
  content: "";
  width: 16px;
  height: 10px;
  margin-right: -16px;
  background-image: url(../images/arrow-icon.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}

.header .categories-nav-section__subcategory {
  font: 14px/2 'Roboto Mono';
  color: #000;
  opacity: .6;
  white-space: nowrap;
}

.header .header-buttons-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.header .header-buttons-group__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
}

.header .header-button {
  color: #000;
  position: relative;
}

.header .header-button--phone:hover .icon--phone path {
  stroke: #3E7EDB;
}

.header .header-button .icon--phone {
  width: 22px;
  height: 22px;
  fill: none;
}

.header .header-button .icon--phone path {
  stroke: #000;
  -webkit-transition: all .1s ease-in;
  transition: all .1s ease-in;
}

.header .header-button .icon--user {
  width: 24px;
  height: 24px;
  fill: none;
}

.header .header-button .icon--user path {
  fill: #000;
  -webkit-transition: all .1s ease-in;
  transition: all .1s ease-in;
}

.header .header-button .icon--cart {
  width: 20px;
  height: 24px;
  fill: none;
}

.header .header-button .icon--cart path {
  fill: #000;
  -webkit-transition: all .1s ease-in;
  transition: all .1s ease-in;
}

.header .header-button .icon--menu {
  width: 16px;
  height: 8px;
  fill: none;
}

.header .header-button .icon--menu path {
  stroke: #000;
  -webkit-transition: all .1s ease-in;
  transition: all .1s ease-in;
}

.header .header-button--phone {
  position: relative;
}

.header .header-button--phone:hover .header-contacts-wrapper {
  display: block;
}

.header .header-button__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  background-color: #FFF;
  -webkit-transition: background-color .2s linear;
  transition: background-color .2s linear;
}

.header .header-button__link:hover .icon--phone path, .header .header-button__link:hover .icon--menu path {
  stroke: #3E7EDB;
}

.header .header-button__link:hover .icon--user path, .header .header-button__link:hover .icon--cart path {
  fill: #3E7EDB;
}

.header .button-info-desktop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 8px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  font-size: 14px;
}

.header .button-info-desktop__secondary {
  opacity: 0.4;
}

.header .button-info-mobile {
  width: 20px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  right: -7px;
  bottom: -2px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 12px;
  line-height: 0;
  background-color: #FCDD09;
  border-radius: 50%;
}

.header .button-info-mobile__main {
  margin-left: -2px;
}

.header .header-contacts-wrapper {
  display: none;
  position: absolute;
  top: 100%;
}

.header .header-contacts {
  border: 1px solid #F0F0F0;
  border-radius: 8px;
  background-color: #FFF;
  position: relative;
}

.header .header-contacts::before, .header .header-contacts::after {
  display: block;
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.header .header-contacts::before {
  border-width: 0 13px 15px 13px;
  border-color: transparent transparent #F0F0F0 transparent;
  bottom: 100%;
}

.header .header-contacts::after {
  border-width: 0 12px 14px 12px;
  border-color: transparent transparent #FFF transparent;
  bottom: calc(100% - 1px);
}

.header .header-contacts__title {
  display: block;
  color: #000;
  font-family: 'Roboto Mono', monospace;
  opacity: .6;
}

.header .header-contacts__number {
  color: #000;
  font-family: 'Whyte Inktrap';
}

.header .header-contacts__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 48px;
  margin-top: 6px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000;
  background-color: #fddd09;
  border-radius: 8px;
  cursor: pointer;
}

.header .header-contacts__button:hover {
  background-color: rgba(253, 221, 9, 0.8);
}

.header .nav-item--has-menu:hover .nav-item__title::after {
  width: 2px;
}

.header .nav-item--has-menu .nav-item__title::after {
  display: block;
  width: 10px;
  height: 2px;
  content: '';
  position: absolute;
  left: calc(100% + 8px);
  bottom: 6px;
  background-image: -webkit-gradient(linear, left top, right top, from(#000), color-stop(50%, #000), color-stop(50%, transparent), to(transparent));
  background-image: linear-gradient(90deg, #000, #000 50%, transparent 50%, transparent 100%);
  background-size: 4px 4px;
  border: none;
  transition: width .2s ease;
  -webkit-transition: width .2s ease;
}

.header .nav-item:hover .nav-item__title::before {
  width: 100%;
  left: 0;
  background: #000;
}

.header .nav-item:hover .header-menu {
  display: block;
  visibility: visible;
  opacity: 1;
}

.header .nav-item:hover .categories-nav {
  visibility: visible;
  opacity: 1;
  -webkit-animation: showsUp .5s ease-out backwards .25s;
          animation: showsUp .5s ease-out backwards .25s;
  -webkit-transform-origin: left center;
          transform-origin: left center;
  -webkit-transition-property: opacity;
  transition-property: opacity;
}

@-webkit-keyframes showsUp {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes showsUp {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.header .nav-item__header {
  padding: 0 20px;
  cursor: pointer;
}

.header .nav-item__title {
  position: relative;
}

.header .nav-item__title::before {
  display: block;
  width: 0;
  height: 1px;
  content: '';
  position: absolute;
  right: 0;
  bottom: -12px;
  background: #000;
  transition: width .2s ease;
  -webkit-transition: width .2s ease;
}

@media (max-width: 767px) {
  .header {
    padding: 0 20px;
  }
  .header.static {
    height: 84px;
  }
  .header.static .header-logo-container {
    width: 119px;
    height: 28px;
  }
  .header.static .header-logo--scrolled {
    opacity: 0;
    width: 0;
  }
  .header.static .header-logo--static {
    opacity: 1;
    width: 119px;
    height: 28px;
  }
  .header.scrolled {
    height: 64px;
  }
  .header.scrolled .header-logo-container {
    width: 30px;
    height: 25px;
  }
  .header.scrolled .header-logo--scrolled {
    opacity: 1;
    width: 30px;
    height: 25px;
  }
  .header.scrolled .header-logo--static {
    opacity: 0;
    width: 0;
  }
  .header .header-city {
    display: none;
  }
  .header .header-buttons-group__item:not(:first-child) {
    margin-left: 8px;
  }
  .header .header-button .icon--phone {
    width: 18px;
    height: 18px;
  }
  .header .header-button .icon--cart {
    width: 16px;
    height: 20px;
  }
  .header .header-button .icon--menu {
    width: 14px;
    height: 6px;
  }
  .header .header-button__link {
    width: 36px;
    height: 36px;
  }
  .header .header-contacts-wrapper {
    padding-top: 18px;
  }
  .header .header-contacts {
    width: 212px;
    padding: 24px 20px 20px;
    text-align: center;
  }
  .header .header-contacts__row {
    margin-bottom: 16px;
  }
  .header .header-contacts__title {
    font-size: 12px;
    line-height: 1.6;
    margin-bottom: 8px;
  }
  .header .header-contacts__number {
    font-size: 20px;
    line-height: .95;
  }
  .header .header-contacts__button {
    font-size: 13px;
  }
}

@media (max-width: 1365px) {
  .header .header-nav {
    display: none;
  }
  .header .button-info-desktop {
    display: none;
  }
  .header .header-button--user {
    display: none;
  }
}

@media (min-width: 768px) {
  .header.static {
    height: 96px;
  }
  .header.static .header-logo-container {
    width: 136px;
    height: 32px;
    margin-right: 24px;
  }
  .header.static .header-logo--scrolled {
    opacity: 0;
    width: 0;
  }
  .header.static .header-logo--static {
    opacity: 1;
    width: 136px;
    height: 32px;
  }
  .header.scrolled {
    height: 88px;
  }
  .header.scrolled .header-logo-container {
    width: 40px;
    height: 34px;
    margin-right: 40px;
  }
  .header.scrolled .header-logo--scrolled {
    opacity: 1;
    width: 40px;
    height: 34px;
  }
  .header.scrolled .header-logo--static {
    opacity: 0;
    width: 0;
  }
  .header .header-buttons-group__item:not(:first-child) {
    margin-left: 12px;
  }
  .header .header-button__link {
    width: 40px;
    height: 40px;
  }
  .header .header-contacts-wrapper {
    padding-top: 30px;
  }
  .header .header-contacts {
    width: 234px;
    padding: 30px 16px 16px;
  }
  .header .header-contacts__row {
    margin: 0 4px 12px;
  }
  .header .header-contacts__title {
    font-size: 14px;
    line-height: 1.6;
  }
  .header .header-contacts__number {
    font-size: 20px;
    line-height: 1.6;
  }
  .header .header-contacts__button {
    font-size: 16px;
  }
}

@media (min-width: 768px) and (max-width: 1365px) {
  .header {
    padding: 0 40px;
  }
}

@media (min-width: 1366px) {
  .header {
    padding: 0 48px;
  }
  .header .button-info-mobile {
    display: none;
  }
  .header .header-button--menu {
    display: none;
  }
}

html {
  font-family: 'Neue Machina';
}
/*# sourceMappingURL=index.css.map */